<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>

    <body>
        <div class="signup">
            <div class="links">
                <a href=" {{ url_for ('index') }}">Log In</a>
                <a href=" {{ url_for ('signup') }}" class="active">Sign Up</a>
            </div>
            <form action=" {{ url_for('signup') }}" method="post">
                <label for="firstname">
                    <i class="fas fa-user"></i>
                </label>
                <input type="firstname" name="firstname" placeholder="First Name" id="firstname" required>
                <label for="lastname">
                    <i class="fas fa-user"></i>
                </label>
                <input type="lastname" name="lastname" placeholder="Last Name" id="lastname" required>                
                <label for="email">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="email" placeholder="Email" id="email" required>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                {% if error %}
                <div class="error"> {{ error }}</div>
                {% endif %}
                <input type="submit" class="submit" value="Sign Up">
            </form>
        </div>
    </body>
</html>